*{
    margin: 0;
    padding: 0;
}
 body{
    background: #c9c8ca;
}

.inner{
    padding-top: 20px;
}

.header{
    text-align: center;
    color:black;
    padding: 1rem;
    position: relative;
}

.header::after{
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height:4px;
    width:100px;
    background-color:#2ecc71;

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding:1rem 80px;
    font-size:1.2rem;
}

.skill-box{
    padding: 1rem;
    color:black;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}

.img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:90px;
    background: reba(100,100,100,0.5);
    border-radius: 45px;
}

.skill-title h3{
     color:black;
     margin-top:0.5rem;


}
.skill-icon{
    width:50px; 
    z-index: 2; 

}

.skill-title after{
    content: '';
    position: absolute;
    bottom:0;
    right:60%;
    width:35px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
}

.skill-title before{
    content: '';
    position: absolute;
    bottom:0;
    left:50%;
    width:35px;
    height:4px;
    border-radius:0 2px 2px 0;
    background-color: #2ecc71;
}



.main{
    width:580px;
    background:#fff;
    margin:150px auto;
    padding: 30px;
    border-radius:10px;
    box-shadow: 2 20px 25px rgba(58,55,55,0.2);
}

@keyframes load {
    from{
        width:0%;
    }
}

@-webkit-keyframes load{
    from{
        width:0%;
    }
}

@-moz-keyframes load{
    from{
        width:0%;
    } 
}

@-o-keyframes load{
    from{
        width:0%;
    }
}

.main h1{
    text-align: center;
    margin-bottom: 10px;
    font-size:36px;
}

.bar-box{
    list-style: none;
    margin:0;
    padding: 0;
}

.bar-box li h5{
    margin-bottom: 10px;
    font-size: 24px;
}

.bar{
    height:18px;
    background-color: #eee;
    margin-bottom: 15px;
    border-radius:15px;
}

.bar::before{
    content:'';
    background-color: #ae00ff;
    display:inline-block;
    padding:8px;
    border-radius:inherit;
    animation: load 3s 0s;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
}

.bar.bar1:before{
    width:calc(85% - 10px); 
}

.bar.bar2:before{
    width:calc(75% - 10px); 
}

.bar.bar3:before{
    width:calc(78% - 10px); 
}

.bar.bar4:before{
    width:calc(80% - 10px); 
}

.bar.bar5:before{
    width:calc(70% - 10px); 
}

.bar.bar6:before{
    width:calc(20% - 10px); 
}

@media  only screen and (max-width:1000px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:700px)
{
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .main{
        width:250px;
    }
}